App/__pycache__/
venv/
.pytest_cache/
.env
postgres-data/
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
/build
ios/Flutter/ephemeral/flutter_lldb_helper.py
ios/Flutter/ephemeral/flutter_lldbinit
/.flutter-plugins
/.flutter-plugins-dependencies
/pubspec.lock
/.dart_tool/
test/__pycache__/
Migration/__pycache__/
__pycache__
alembic.ini
alembic/__pycache__
alembic/env.py
alembic/README
alembic/versions/__pycache__
alembic/script.py.mako
